.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: Porsche ;
  src: url(../public/911porschav3.ttf);
}

@font-face {
  font-family: ppt ;
  src: url(../public/FontsFree-Net-aa3-6.ttf);
}


.navbar-brand{
  position: relative;
font-family: Porsche ;
font-size:xx-large;
margin-bottom: 10px;
margin-top: -5px;
;
}
.big{
  position: absolute;
  margin-left: 100px;
  margin-top: -80px;
}

 /* .navbar-collapse{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  right: 100px;
  font-size: x-large;
  font-family: ppt;
  }  */
.small{
  position: relative;
  font-size:large;
  margin-left: 215px;
  margin-top: -45px;
  font-family: Porsche;
}
